<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Common" version="4.5.0" targetFramework="net48" />
  <package id="GleamTech.VideoUltimate" version="2.5.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
</packages>